  <tr>
  <td><%= link_to question.content, question_path(question), class: "question-font-size text-dark" %></td>
  <td><%= question.name %></td>
  <td><%= l question.created_at, format: :short %></td>
  <td class= "text-right">
  <%= link_to t('defaults.edit'), edit_question_path(question), class: "btn btn-warning" %>
  <%= link_to t('defaults.delete'), question_path(question), class: "btn btn-warning", method: :delete, data: { confirm: t('defaults.message.delete_confirm') } %>
  </td>
  </tr>