<h2 class="mt-5 mb-5 text-center"><%= t('.title') %><h2>
<%= link_to t('.question'), new_question_path, class: 'btn btn-warning d-block mx-auto w-25 mb-5' %>
<div class ="row">
  <div class="col-md-12">
    <table class="table table-striped text-size">
      <thead class="thead-light">
        <tr>
          <th><%= t('defaults.question')%></th>
          <th><%= t('defaults.name')%></th>
          <th><%= t('defaults.created_at') %><th>
        <tr>
      </thead>
      <tbody>
        <%= render @questions %>
      </tbody>
    </table>
  </div>
</div>