<div>
  <div class= "col-md-4 offset-md-4 mt-5">
    <h2 class= "text-center">新規質問の投稿</h2>
    <%= form_with model: @question, local: true do |f| %>
      <div class= "form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class= "form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control" %>
      </div>
      <div class= "text-center">
        <%= f.submit "投稿", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
