<div class = "row">
  <div class= "col-md-12 mt-5">
    <h2><%= @question.content %></h2>
  <div>
    <%= t('.from') %><%= @question.name %>
  </div>
  <hr>
  <div>
    <h3>回答一覧</h3>
    <table class= "table table-striped">
      <% if @question.answers.any? %>
    <thead class= "thead-light">
      <tr>
        <td><%= t('.name') %></td>
        <td><%= t('.answer') %></td>
      <tr>
    </thead>
  <tbody>
    <%= render 'answers/answers', { answers: @answers }%>
  </tbody>
      <% else %>
        <p>回答がまだありません</p>
      <% end %>
  </table>
  <%= render 'answers/form', { answer: @answer, question: @question } %>
 </div>
</div>