<% content_for(:title, t('.title')) %>
<div class ='row'>
  <div class= 'col-md-12 mt-5'>
    <h2><%= @question.content %></h2>
  <div>
    <%= t('.from') %><%= @question.name %>
  </div>
  <hr>
  <div>
    <h3><%= t('.title') %></h3>
    <table class= 'table table-striped'>
      <% if @question.answers.any? %>
    <thead class='thead-light'>
      <tr>
        <td class ='w-auto'><%= t('.name') %></td>
        <td class='w-50'><%= t('.answer') %></td>
        <td class='w-auto'>作成日</td>
        <td class='w-auto '></td>
      <tr>
    </thead>
  <tbody>
    <%= render 'answers/answers', { answers: @answers }%>
  </tbody>
      <% else %>
        <p><%= t('.no_answer') %></p>
      <% end %>
  </table>
  <%= paginate @answers %>
  <h3><%= t('.answer_post') %></h3>
  <%= render 'answers/form', { answer: @answer, question: @question } %>
 </div>

</div>